* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}


body {
  background: black;
}


.homy {
  padding-bottom:20px;
}


.iconz {
  font-size: 21px;
}


.imagey {
  height: 530px;
  margin-top: 50px;
}


.index {
  z-index: 100;
  margin-top:10px;
}
